.calendar-widget {
    display: block;
    height: 1441px;
    width: 250px;
    background-image: url("/static/calendar-background.svg");
    background-repeat: repeat-y;
    background-position-y: -59px;
    padding: 1px 0 0 2px;
}

.calendar-widget div {
    background-color: lightgray;
    margin: 0 2px 0 2px;
    border-radius: 4px;
    color: black;
    padding: 0 5px;
    font-weight: lighter;
    font-size: 10pt;
    overflow: clip;
}

.calendar-widget .task-header {
    font-weight: bold;
}